body {
    background-color: #F6F8FA;
}

.navbar {
    background: #1991EB;
}

.navbar-menu-wrapper {
    width: calc(100% - 255px);
}

.search {
    width: 100%;
    max-width: 300px;
}

.search .input-group input[type=text] {
    border: none;
    border-radius: 20px 0 0 20px;
    padding: 5px 20px;
    font-size: 16px;
}

.search .input-group .input-group-append {
    border-radius: 0 20px 20px 0;
    background-color: #FFFFFF;
}

.search .input-group .input-group-append .input-group-text {
    border: none;
    padding: 5px 16px;
    font-size: 24px;
    color: #000;
}

.page-title {
    padding: 10px 1.7rem 0;
    margin: 0;
}

.title-text h1 {
    font-size: 28px;
    color: #0b2e13;
}

.breadcrumbs {
    text-align: right;
    font-size: 14px;
}

.breadcrumbs a:last-child {
    pointer-events: none;
    cursor: default;
    text-decoration: none;
    color: black;
}

.content-wrapper {
    padding: 0.5rem 1.7rem;
}

.navbar-brand-wrapper {
    border-bottom: 1px dashed #1991EB;
}

@media (max-width: 991px) {
    .navbar .navbar-menu-wrapper {
        width: calc(100% - 75px);;
    }
}
