{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}CHANGE TITLE{% endblock %}</title>

    {% block styles %}
        <link rel="stylesheet" href="{% static 'bower_components/mdi/css/materialdesignicons.min.css' %}">
        <link rel="stylesheet" href="{% static 'bower_components/simple-line-icons/css/simple-line-icons.css' %}">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" href="{% static 'css/custom-css.css' %}">
        {% block custom-styles %}{% endblock %}
    {% endblock %}

    <link rel="shortcut icon" href="{% static 'images/favicon.png' %}"/>
</head>

<body>
<div class="container-scroller">
    {% block container-scroller %}
        <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
            <div class="text-center navbar-brand-wrapper d-flex align-items-top justify-content-center">
                <a class="navbar-brand brand-logo" href="{% url 'smart_cafe_ui:index' %}">
                    <h1 class="text-dark">Smart<span style="font-weight: 100" class="text-primary">Cafe</span></h1>
                </a>
                <a class="navbar-brand brand-logo-mini" href="{% url 'smart_cafe_ui:index' %}">
                    <h1 class="text-primary">S<span style="font-weight: 100">C</span></h1>
                </a>
            </div>

            {% block nav %}

                <div class="navbar-menu-wrapper d-flex align-items-center">

                    <form class="search mx-auto" method="get">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search" aria-label="Username"
                                   aria-describedby="colored-addon3" name="search">
                            <div class="input-group-append">
                                <span class="input-group-text bg-transparent"><i
                                        class="mdi mdi-magnify text-dark"></i></span>
                            </div>
                        </div>
                    </form>

                    <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button"
                            data-toggle="offcanvas">
                        <span class="icon-menu"></span>
                    </button>
                </div>
            {% endblock %}
        </nav>

        <!-- partial -->
        <div class="container-fluid page-body-wrapper">
            <!-- partial:partials/_sidebar.html -->
            <nav class="sidebar sidebar-offcanvas" id="sidebar">
                {% block sidebar %}
                    <ul class="nav">
                        <li class="nav-item nav-profile">
                            <div class="nav-link">
                                <div class="profile-image">
                                    <img src="{% static 'imgs/defaults/default-avatar.png' %}" alt="avatar"/>
                                </div>
                                <div class="profile-name">
                                    <p class="name">
                                        <span class="font-weight-bold">
                                            {% if request.user.first_name %}
                                                {{ request.user.first_name }} {{ request.user.last_name }}
                                            {% else %}
                                                {{ request.user.username }}
                                            {% endif %}
                                        </span>
                                    </p>
{#                                    <p class="designation">{{ request.user.email }}</p>#}
                                    <a href="{% url 'logout' %}" class="btn btn-primary mt-3">Logout</a>
                                </div>
                            </div>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'smart_cafe_ui:index' %}">
                                <img class="menu-icon"
                                     src="{% static 'imgs/icons/dashboard.png' %}"
                                     alt="menu icon">
                                <span class="menu-title">Dashboard</span>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'smart_cafe_ui:foods' %}">
                                <img class="menu-icon"
                                     src="{% static 'imgs/icons/food.png' %}"
                                     alt="menu icon">
                                <span class="menu-title">Food</span>
                            </a>
                        </li>

                    <li class="nav-item">
                            <a class="nav-link" href="{% url 'smart_cafe_ui:menus' %}">
                                <img class="menu-icon"
                                     src="{% static 'imgs/icons/menu.png' %}"
                                     alt="menu icon">
                                <span class="menu-title">Menu</span>
                            </a>
                        </li>

                    <li class="nav-item">
                            <a class="nav-link" href="{% url 'smart_cafe_ui:orders' %}">
                                <img class="menu-icon"
                                     src="{% static 'imgs/icons/order-food.png' %}"
                                     alt="menu icon">
                                <span class="menu-title">Orders</span>
                            </a>
                        </li>

                    </ul>
                {% endblock %}
            </nav>

            <div class="main-panel">
                <div class="content-wrapper">
                    {% block content %}{% endblock %}
                </div>
                <!-- content-wrapper ends -->
                <!-- partial:partials/_footer.html -->
                <footer class="footer">
                    <div class="container-fluid clearfix">
                        {% block footer %}
                            <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">
                                Copyright &copy; 2018 <a href="http://mwongela.me/" target="_blank">mwongela.me</a>.
                            </span>
                        {% endblock %}
                    </div>
                </footer>
                <!-- partial -->
            </div>
            <!-- main-panel ends -->
        </div>
        <!-- page-body-wrapper ends -->
    {% endblock %}
</div>
<!-- container-scroller -->

{% block scripts %}
    <script src="{% static 'bower_components/jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'bower_components/popper.js/dist/umd/popper.min.js' %}"></script>
    <script src="{% static 'bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/off-canvas.js' %}"></script>
    <script src="{% static 'js/misc.js' %}"></script>
    <script src="{% static 'js/dashboard.js' %}"></script>
    <script src="{% static 'js/maps.js' %}"></script>
    {% block custom-scripts %}{% endblock %}
{% endblock %}
</body>

</html>