{% extends 'base.html' %}

{% block page-title %}Food{% endblock %}
{% block breadcrumbs %}
    <a href="{% url 'smart_cafe_ui:index' %}">Dashboard</a>
    &raquo;
    <a href="{% url 'smart_cafe_ui:foods' %}">Food</a>
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-12 col-md-8">
            <div class="card food-list">
                <div class="card-body">

                    <div class="table-responsive">
                        <table class="table center-aligned-table">
                            <thead>
                            <tr>
                                <th>Image</th>
                                <th>Name</th>
                                <th>Calories</th>
                                <th>Price</th>
                                <th>Category</th>
                                <th>#</th>
                            </tr>
                            </thead>
                            <tbody>

                            {% if not food_list %}
                                <tr>
                                    <td colspan="6">
                                        <p class="text-center">No Data</p>
                                    </td>
                                </tr>
                            {% endif %}

                            {% for food in food_list %}
                                <tr>
                                    <td><img src="{{ food.image.url }}" alt="food_image"
                                             class="food-image img-thumbnail"></td>
                                    <td>{{ food.name }}</td>
                                    <td>{{ food.calories }}</td>
                                    <td>KES{{ food.price }}</td>
                                    <td>{{ food.category }}</td>
                                    <td class="justify-content-end">
                                        <div class="" role="group" aria-label="Basic example">
                                            <a href="{% url 'smart_cafe_ui:change_food' pk=food.id %}"
                                               class=""><i class="mdi mdi-table-edit"></i> Edit</a>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            {% if is_paginated %}
                <nav class="mx-auto">
                    <ul class="pagination justify-content-center">
                        {% if page_obj.has_previous %}
                            <li class="page-item"><a href="?page={{ page_obj.previous_page_number }}"
                                                     class="page-link"><i class="mdi mdi-arrow-left"></i> Back</a></li>
                        {% else %}
                            <li class="page-item disabled"><a href="#" class="page-link"><i class="mdi mdi-arrow-left"></i> Back</a>
                            </li>
                        {% endif %}
                        {% for i in paginator.page_range %}
                            {% if page_obj.number == i %}
                                <li class="page-item active"><a class="page-link" href="#">{{ i }} <span
                                        class="sr-only">(current)</span></a></li>
                            {% else %}
                                <li class="page-item"><a href="?page={{ i }}" class="page-link">{{ i }}</a></li>
                            {% endif %}
                        {% endfor %}
                        {% if page_obj.has_next %}
                            <li class="page-item"><a class="page-link"
                                                     href="?page={{ page_obj.next_page_number }}">Next <i class="mdi mdi-arrow-right"></i></a></li>
                        {% else %}
                            <li class="page-item disabled"><a href="#" class="page-link">Next <i class="mdi mdi-arrow-right"></i></a></li>
                        {% endif %}
                    </ul>
                </nav>
            {% endif %}
        </div>
        <div class="col-12 col-md-4">
            <div class="row">
                <div class="col">
                    <h4>Actions</h4>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><a href="{% url 'smart_cafe_ui:add_food' %}"><i class="mdi mdi-plus-box"></i> Add food&raquo;</a></li>
                        <li class="list-group-item"><a href="#"><i class="mdi mdi-plus-box"></i> Add food category &raquo;</a></li>
                        <li class="list-group-item"><a href="#"><i class="mdi mdi-view-list"></i> View food category &raquo;</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

{% endblock %}