{% extends 'base.html' %}

{% block page-title %}Menu{% endblock %}
{% block breadcrumbs %}
    <a href="{% url 'smart_cafe_ui:index' %}">Dashboard</a>
    &raquo;
    <a href="{% url 'smart_cafe_ui:menus' %}">Menu</a>
{% endblock %}

{% block content %}

    <div class="row">

        <div class="col-12">

            <div class="card">



                <div class="card-body">

<div class="card-title text-muted">
                        <div class="row">
                            <div class="col">
                                <p>List of all Menu Items</p>
                            </div>
                            <div class="col">
                                <a href="{% url 'smart_cafe_ui:add_menu' %}" class="btn btn-primary float-right">
                                    <i class="mdi mdi-plus-box"></i>
                                    Add Food
                                </a>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>

    </div>

{% endblock %}

{% block custom-scripts %}



{% endblock %}